.accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.accordion h1 {
  color: #fff;
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 700;
}

.accordion h1 span {
  color: #d434fe;
}

.accordion .accordion-intro {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin: 16px 0 40px;
}

.accordion .accordion-intro span {
  font-weight: 700;
}

@media all and (max-width: 768px) {
  .accordion-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .accordion h1 {
    text-align: center;
  }

  .accordion .accordion-intro {
    text-align: center;
  }
  .accordion-image img {
    width: 100%;
  }
}
