.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-bar-links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-bar-link {
  display: flex;
  gap: 30px;
}

.nav-bar-link li {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.nav-bar-link .nav-bar-link-contact a {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-bar-links .nav-bar-link-contact a.active {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar-btn {
  width: 172px;
  background-image: var(--primary-color);
  border-radius: 4px;
  padding: 12px;
  border: none;
  cursor: pointer;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-bar-links a.active .nav-bar-btn {
  background: #150e28;
  border: 1px solid transparent;
  border-image: linear-gradient(#9a39ff, #ff29b9);
  border-image-slice: 1;
  border-radius: 4px;
}

.nav-bar-open {
  display: none;
}

.nav-bar-close {
  display: none;
}

/* MEDAI QUERY */
@media all and (max-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    position: relative;
  }

  .nav-bar-logo img {
    width: 60%;
  }
  .nav-bar-links {
    display: none;
  }

  #nav-bar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 240px;
    background: #150e28;
    padding: 30px 0 0 50px;
  }

  .nav-bar-link {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  .nav-bar-link li {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
  }
  .nav-bar-open {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .nav-bar-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .nav-bar-close img {
    padding: 8px;
    border: 1px solid transparent;
    border-image: linear-gradient(#9a39ff, #ff29b9);
    border-image-slice: 1;
    background: #150e28;
    /* border-radius: 50%; */
  }
}
